@use "../../styles/variables";
@use "sass:math";

.komi-auto-complete{
    .item-highlighted{
    background-color: variables.$primary;
    color:variables.$white
    }

    .komi-input-wrapper{
        width: 100%;
        max-width: 650px;
    }

    ul{
        list-style: none;
        position: absolute;
        margin:10px;
        z-index:10;
        width: 100%;
        background-color: variables.$white;
        max-width: 650px;
        border: variables.$select-options-border-width solid variables.$select-options-border-color;
        box-shadow: variables.$select-options-shadow;
        margin-top: math.div(variables.$spacer, 2);
        padding-left: 0;
    }

    li{
        display: flex;
        align-items: center;
        //justify-content: space-between;
        padding: variables.$select-options-padding-y variables.$select-options-padding-x;
        font-family: variables.$select-options-font-family;
        font-size: variables.$select-options-font-size;
        font-weight: variables.$select-options-font-weight;
        line-height: variables.$select-options-line-height;
        &:hover,
        &:focus {
            color: variables.$primary;
            cursor: default;
        }
    }

    .ul-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
    }
}

