@use "../../styles/variables";

.komi-input-wrapper {
    display: flex;
    width: variables.$input-max-width;
    max-width: variables.$input-max-width;
    position: relative;
    margin: 10px;
    margin-bottom: 0;
    .icon-wrapper{
        cursor:pointer;
        position:absolute;
        height: 100%;
        width: 35px;
        justify-content: center;
        color: variables.$input-color;
        right:0;
        top:0;
        display: flex;
        align-items: center;
    }
    
.komi-input-inner{
    width: 100%;
    padding: variables.$input-padding-y variables.$input-padding-x;
  font-family: variables.$input-font-family;
  font-size: variables.$input-font-size;
  font-weight: variables.$input-font-weight;
  line-height: variables.$input-line-height;
  color: variables.$input-color;
  background-color: variables.$input-bg;
  background-clip: padding-box;
  border: variables.$input-border-width solid variables.$input-border-color;

  box-shadow: variables.$input-box-shadow;
  transition: variables.$input-transition;

  &:focus{
    color: variables.$input-focus-color;
    background-color: variables.$input-focus-bg;
    border-color: variables.$input-focus-border-color;
    outline: 0;
    box-shadow: variables.$input-focus-box-shadow;
  }

  &:disabled,
  &[readonly] {
    background-color: variables.$input-disabled-bg;
    border-color: variables.$input-disabled-border-color;
    opacity: 1;
  }
}
}

.komi-input-group-prepend,
.komi-input-group-append{
    display: flex;
    align-items: center;
    padding: variables.$input-padding-y variables.$input-padding-x;
    margin-bottom: 0; // Allow use of <label> elements by overriding our default margin-bottom
    font-weight: variables.$font-weight-normal;
    line-height: variables.$input-line-height;
    color: variables.$input-group-addon-color;
    text-align: center;
    white-space:nowrap;
    background-color: variables.$input-group-addon-bg;
    border: variables.$input-border-width solid variables.$input-group-addon-border-color;
}


.input-size-sm .komi-input-inner {
    padding: variables.$input-padding-y-sm variables.$input-padding-x-sm;
    font-size: variables.$input-font-size-sm;
    border-radius: variables.$input-border-radius-sm;
  }
  
  .input-size-lg .komi-input-inner {
    padding: variables.$input-padding-y-lg variables.$input-padding-x-lg;
    font-size: variables.$input-font-size-lg;
    border-radius: variables.$input-border-radius-lg;
  }
  
