@use "../../styles/mixin";
@use "../../styles/variables";

.btn {
    position: relative;     //相对定位
    display: inline-block;      //跟随文本流排列
    font-weight: variables.$btn-font-weight;
    line-height: variables.$btn-line-height;
    color: variables.$body-color;
    white-space: nowrap;
    text-align: center;     //不换行
    vertical-align: middle;     //居中对齐
    background-image: none;
    border: variables.$btn-border-width solid transparent;
    @include mixin.button-size(variables.$btn-padding-y,variables.$btn-padding-x,variables.$btn-font-size,variables.$border-radius);  
    box-shadow: variables.$btn-box-shadow;
    cursor: pointer;        //鼠标悬停显示
    transition: variables.$btn-transition;

    //禁用状态
    &.disabled,
    &[disabled]{
        cursor:not-allowed;
        opacity:variables.$btn-disabled-opacity;
        box-shadow:none;
        >*{
            pointer-events:none;
        }
    }

}

.btn-lg{
    @include mixin.button-size(variables.$btn-padding-y-lg,variables.$btn-padding-x-lg,variables.$btn-font-size,variables.$border-radius);
}

.btn-sm{
    @include mixin.button-size(variables.$btn-padding-y-sm,variables.$btn-padding-x-sm,variables.$btn-font-size,variables.$border-radius);
}

.btn-primary{
    @include mixin.button-style(variables.$primary,variables.$primary,variables.$white)
}

.btn-danger{
    @include mixin.button-style(variables.$danger,variables.$danger,variables.$white)
}

.btn-default{
    @include mixin.button-style(variables.$white,variables.$gray-400,variables.$body-color,variables.$white,variables.$primary,variables.$primary)
}

.btn-link{
    font-weight: variables.$font-weight-normal;
    color:variables.$btn-link-color;
    text-decoration: variables.$link-decoration;
    box-shadow:none;

    &:hover{
        color:variables.$btn-link-hover-color;
        text-decoration: variables.$link-hover-decoration;
    }

    &:focus,
    &.focus{
        text-decoration: variables.$link-hover-decoration;
        box-shadow:none;
    }

    &:disabled,
    &.disabled{
        color:variables.$btn-link-disabled-color;
        pointer-events: none;
    }
}