.komi-menu {
    display: flex;
    flex-wrap: wrap; //自动换行
    padding-left: 0;
    margin-bottom: 30px;
    list-style: none;
    border-bottom: $menu-border-width solid $menu-border-color;
    box-shadow: $menu-box-shadow;

    >.menu-item {
        padding: $menu-item-padding-y $menu-item-padding-x;
        cursor: pointer;

        &:hover,
        &:focus {
            text-decoration: none;
        }

        &.is-disabled {
            color: $menu-item-disabled-color;
            pointer-events: none;
            cursor: default;
        }

        &.is-active,
        &:hover {
            color: $menu-item-active-color;
        }



    }

    .submenu-item {
        position: relative;
        .submenu-title{
            display: flex;
            align-items: center;
        }
        .arrow-icon{
            margin-left: 3px;
            //transition: transform .25s ease-in-out;
        }
        &:hover{
            .arrow-icon{
                transform: rotate(180deg);
            }
        }
    }
    .komi-submenu {
        flex-direction: column;
        list-style: none;
        padding-left: none;
        color: black;
        //display: none;
        //transition: opacity .5s ease-in-out;
        .menu-item {
            &:hover,
            &:focus {
                text-decoration: none;
            }

            &.is-active,
            &:hover {
                color: $menu-item-active-color;
                border-left: none;

            }
        }
    }
}

.menu-vertical {
    flex-direction: column;
    border-bottom: 0px;
    margin: 10px 20px;
    border-right: $menu-border-width solid $menu-border-color;

    .menu-item {
        padding: $menu-item-padding-y $menu-item-padding-x;
        &.is-active,
        &:hover {
            border-bottom: 0;
            border-left: $menu-item-active-border-width solid $menu-item-active-color;
        
        }
    }
    .arrow-icon{
        transform: rotate(0deg) !important;
        &:focus{
            transform: rotate(180deg)!important;
        }
    }
    .is-opened{
        .arrow-icon{
            transform: rotate(180deg)!important;
        }
    }
    .submenu-item {
        
        &:hover,
        &:focus {
            text-decoration: none;
        }

        &.is-disabled {
            color: $menu-item-disabled-color;
            pointer-events: none;
            cursor: default;
        }

        &.is-active,
        &:hover {
            color: $menu-item-active-color;
            border-left: $menu-item-active-border-width solid $menu-item-active-color;
            ;
        }

    }

    .komi-submenu{
        padding: $menu-item-padding-y 0;
    }
}

.menu-horizontal {
    border-bottom: $menu-border-width solid $menu-border-color;;
    margin: 10px 20px;

    .menu-item{
        padding: $menu-item-padding-y $menu-item-padding-x;

        &.is-active,
        &:hover {
            color: $menu-item-active-color;
            box-shadow:inset 0 -2px 0 0 $menu-item-active-color;
        }
    }


    .komi-submenu{
        position: absolute;//将位置定为相对就可以脱离边框了
        z-index: 1;
        background-color: $white;
        left:0;
        top:100%;
        margin: 4px 0;

        padding:0;
        border: $menu-border-width solid $menu-border-color;
        .menu-item{
            border-bottom: $menu-border-width solid $menu-border-color;
            box-shadow:none;
        }
    }
}