@use "../../styles/variables";

.komi-tabs {
    list-style: none;
    margin: 0;
    padding:0;
    border-bottom: 100px;
    >ul.tabs-ul {
        display: flex;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        .tabs-item {
            cursor: pointer;
            padding: variables.$tabs-label-padding-y variables.$tabs-label-padding-x;
            border-bottom: variables.$tabs-border-width solid variables.$tabs-border-color;

            &:hover,
            &:focus {
                text-decoration: none;
            }

            &.is-disabled {
                color: variables.$menu-item-disabled-color;
                pointer-events: none;
                cursor: default;
            }

            &.is-active,
            &:hover {
                color: variables.$menu-item-active-color;
            }
        }
    }

    >div.tabs-div{
        padding: variables.$tabs-content-padding-y variables.$tabs-label-padding-x;
    }
}

.tabs-line{
    .tabs-item{
        &.is-active{
        box-shadow:inset 0 -2px 0 0 variables.$menu-item-active-color;
    }
    }
}

.tabs-card{
    .tabs-ul{
        .tabs-item{
        &.is-active{ 
             border:variables.$tabs-border-width solid variables.$tabs-border-color;
             border-bottom: none;
             border-top-left-radius:variables.$tabs-label-border-radius ;
             border-top-right-radius:variables.$tabs-label-border-radius ;
        }
    }
    }
    
}