.komi-select {

    .komi-select-input {
        margin-bottom: 0px;
        background-color: $white;
        &.optionsInInput {
            position: relative;
        }

        .komi-input-inner {
            &:focus,
            &:hover {
                cursor: default;
            }

            &:hover {
                border-color: $primary !important;
            }
        }

        .komi-icon {
            transform: rotate(0deg);

        }

        
        

        input[readonly] {
            background-color: $white;
        }
    }

        &.is-open {
            .input-icon{
                transform:rotate(180deg);
            }

        }

        &.is-disabled{
            input[readonly]{
                background-color: $input-group-addon-bg !important; ;
            }
        }

    .select-ul {
        position: absolute;
        margin: 10px;
        z-index: 10;
        width: 100%;
        background-color: $white;
        max-width: $select-options-max-width;
        border: $select-options-border-width solid $select-options-border-color;
        box-shadow: $select-options-shadow;
        margin-top: $spacer/2;
        padding-left: 0;
    }

}

.komi-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $select-options-padding-y $select-options-padding-x;
    font-family: $select-options-font-family;
    font-size: $select-options-font-size;
    font-weight: $select-options-font-weight;
    line-height: $select-options-line-height;

    &:hover,
    &:focus {
        background-color: $option-bg-color;
    }

    &.is-selected {
        color: $primary;
        font-weight: 900;
    }

    &.is-disabled {
        cursor: not-allowed;
        opacity: $btn-disabled-opacity;
        box-shadow: none;
        background-color: $white;

        >* {
            pointer-events: none;
        }
    }
}