@use "../../styles/variables";

.komi-upload-list {
    padding-left: 0;
}

.komi-upload-list-item {
    border-radius: variables.$btn-border-radius;
    display: flex;
    flex-wrap: wrap;
    padding-left: .5rem;
    padding-right: .5rem;
    max-width: variables.$input-max-width;
    min-height: 30px;
    width: 100%;
    font-size: variables.$uploadlist-font-size;
    line-height: variables.$uploadlist-line-height;
    justify-content: center;
    align-items: center;

    .file-name {
        display: inline-block;

        .komi-icon {
            margin-right: .5 * variables.$uploadlist-icon-size;
        }
    }
    .file-status {
        display: inline-block;
    }

    .file-actions {
        display: none;
    }

    .file-name-success {
        color: variables.$success;
        .komi-icon{
            color: variables.$success;
        }
    }

    .file-name-error {
        color: variables.$danger;
        .komi-icon{
            color: variables.$danger;
        }
    }

    .file-actions,
    .file-status {
        width: variables.$uploadlist-icon-size;
        text-align: center;
        margin-left: auto;
    }

    &:hover {
        background-color: variables.$gray-200;

        .file-actions {
            color: variables.$primary;
            display: inline-block;
        }

        .file-status {
            display: none;
        }
    }


    .komi-progress-bar{
        text-align: center;
        margin-left: auto;
        justify-content: center;
        align-items: center;
    }
}

.komi-uploader-dragger {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 160px;
    background-color:variables.$white;
    justify-content: center;
    align-items: center;
    border: 1px dashed variables.$gray-300;
    .komi-icon{
        font-size: 90px;
        flex-basis: 100%;
        color: variables.$gray-600;
    }

    &:hover{
        border: 1px dashed variables.$primary;
    }

    &.is-dragover{
        background: #f3d8d8;
        border: 2px dashed variables.$primary;
    }
}