@use "../../styles/mixin";
@use "../../styles/variables";

.alert {
    //display: flex;
    width: variables.$alert-width;
    @include mixin.alert-color(variables.$primary, variables.$white);
    border-radius: variables.$alert-border-radius;
    border-width:variables.$border-width;
    border-style: solid;
    padding: variables.$btn-padding-y variables.$btn-padding-x;

    h4.alert-title {
        margin-bottom: 0;
        line-height:variables.$alert-line-height;
        font-size: variables.$alert-title-font-size;
    }
    p.alert-message {
        margin-top: 0;
        margin-bottom: 0;
        line-height: variables.$alert-line-height;
        font-size: variables.$alert-message-font-size;
    }

    .alert-close{
        position: absolute;
        right: 10px; // 距离右边 10px
        top: 50%; // 距离顶部 10px
        transform: translateY(-50%);
    }

    position: relative;
    > i:last-child {
        position: absolute;
        right: variables.$alert-icon-right;
        top: variables.$alert-icon-top;
        font-style: normal;
        cursor: pointer;
        font-weight: variables.$alert-icon-font-weight;
        font-size: variables.$alert-icon-font-size;
    }
}

.alert-success {
    @include mixin.alert-color(variables.$success, variables.$white);
}
.alert-danger {
    @include mixin.alert-color(variables.$danger, variables.$white);
}
.alert-warning {
    @include mixin.alert-color(variables.$warning, variables.$white);
}